langchain
langchain-openai
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
langchain_ollama
faiss-cpu
pymupdf
langchain_huggingface
langchain-text-splitters
langchain_classic
pypdf
langchain_chroma
sentence-transformers
torchvision
ipykernel
wikipedia
arxiv
ddgs
langchainhub
urllib3
feedparser
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
peft
openai
ipykernel
gradio